#customerContainer{
  width: 95%;
  -webkit-box-shadow: 0px 0px 79px 0px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 0px 79px 0px rgba(0,0,0,0.57);
  box-shadow: 0px 0px 79px 0px rgba(0,0,0,0.57);
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

.bg {
 background-image: url(../dist/img/bg3.jpg);
  width: 100%;
  position: absolute;
  top: 0;
  height: 12em;
  z-index: -1;
  background-size: cover;
}

.nav {
  padding: 2em 1em 1em 1em;
  color: white;
}

.nav i {
  font-size: 1.5em;
}

section.head {
  height: 30%;
  background-color: rgba(255,255,255,.7);
  border: 1px solid gray;
  border-bottom: none;
  border-radius: .5em .5em 0 0;
  padding: 1em;
  position: relative;
}

h1.name {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  margin: .5em 0;
}

section.head .circular {
  margin: 0 auto;
}

.leftInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 1em;
  padding-bottom: 1em;
}

.rightInfo {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 1em;
  padding-bottom: 1em;
}

span.lblInfo {
  display: block;
  color: gray;
  font-weight: 500;
  text-transform: uppercase;
  font-size: .7em;
}

span.Info {
  font-size: 1.5em;
  font-weight: 300;
}

section.contact {
  padding: 0 1em;
  background-color: #3F51B5;
}

section.contact a {
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.5em;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: .6em 0;
  display: block;
}

section.contact a:nth-child(1){
  border-bottom: 1px solid white;
}

h2.tel {
  font-size: 2em;
}

.location {
  padding: 1em 2.7em;
  border: 1px solid gray;
  text-align: center;
  position: relative;
  display: block;
  text-decoration: none;
  color: inherit;
}

.location span {
  display: block;
  font-size: 1.2em;
  font-weight: 200;
}

a.location i {
  position: absolute;
  top: 0.7em;
  width: 15%;
  height: 100%;
  display: block;
  font-size: 3em;
  color: #FF6E40;
  left: 0;
}

section.other {
  padding: 1em;
  border: 1px solid gray;
  border-bottom: none;
  border-top: none;
}

#lista_detail {
  height: 110%;
  width: 100%;
  background-color: #FFF;
  padding-top: .5em;
  margin-bottom: 4.5em;
}

#lista_detail ul, #lista_detail li {
  list-style-type: none;
}

.icona_detail {
  display: block;
  color: #FF6E40;
}

.descr_detail {
  width: 70%;
  display: inline-block;
  vertical-align: top;
  padding: .5em 0;
}

#edit {
  float: right;
  font-size: 15px;
}

/*

CARD FLIP

*/

.container {
  //width: 200px;
  height: 100%;
  position: relative;
  perspective: 800px;
}

.container .card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform-origin: right center;
}

.container .card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.container .card .back {
  background: white;
  height: 100%;
  transform: rotateY( 180deg );
}

.container .card.flipped {
  transform: translateX( -100% ) rotateY( -180deg );
}

/*

END CARD FLIP

*/

#formContainer {
  padding: 1em;
}

#formEdit .mdl-textfield{
  width: 100%;
}